@charset "UTF-8";
/* ===============================================
# font
=============================================== */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
/* ===============================================
# mixins
=============================================== */
/* ===============================================
# colors
=============================================== */
/* ===============================================
# common
=============================================== */
@media screen and (max-width: 767px) {
  .is-pc, .is-tab {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .is-sp, .is-pc {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .is-sp, .is-tab {
    display: none;
  }
}
body {
  font-size: 16px;
  color: #3E3E3E;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  line-height: 1.5;
  background: #F3F3F3;
  -webkit-text-size-adjust: 100%;
}

img {
  max-width: 100%;
}

.inner {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .inner {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .inner {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.section {
  margin-top: 120px;
}
@media screen and (max-width: 767px) {
  .section {
    margin-top: 0;
  }
}

.section-title {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 1;
}
@media screen and (max-width: 767px) {
  .section-title {
    font-size: 30px;
  }
}

.util-link {
  font-family: "Montserrat", sans-serif;
  color: #3E3E3E;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.2em;
  display: inline-block;
  border: 1px solid #3E3E3E;
  width: 236px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  transition: all 0.3s ease 0s;
}
@media screen and (max-width: 767px) {
  .util-link {
    font-size: 18px;
  }
}

/* header
----------------------------------------------- */
.header {
  background: rgba(255, 255, 255, 0.1019607843);
  height: 83px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transition: all 0.5s ease 0s;
}
.header.scroll-header {
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 767px) {
  .header {
    background: #fff;
    height: 68px;
  }
}

.header__inner {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .header__inner {
    display: block;
  }
}
.header__inner h1 a {
  display: none;
}
@media screen and (max-width: 767px) {
  .header__inner h1 a {
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    color: #3E3E3E;
    font-size: 23px;
    font-weight: 600;
    line-height: 68px;
  }
}

.header__nav {
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}
@media screen and (max-width: 767px) {
  .header__nav {
    display: none;
  }
}
.header__nav li:not(:first-child) {
  margin-left: 40px;
}
.header__nav li a {
  display: block;
  color: #3E3E3E;
  line-height: 83px;
  letter-spacing: -0.025em;
  position: relative;
  cursor: pointer;
}
.header__nav li a::after {
  content: "";
  position: absolute;
  bottom: 25px;
  left: 0;
  width: 10%;
  border-bottom: 1px solid #3E3E3E;
  border-color: transparent;
  transition: all 0.4s ease 0s;
}
.header__nav li a:hover::after, .header__nav li a.is-active::after {
  border-color: #3E3E3E;
  width: 100%;
}

/* main-visual
----------------------------------------------- */
.main-visual {
  height: 648px;
  width: 100%;
  background: url(../img/mv.png) no-repeat center center/cover;
  padding: 0 40px;
}
@media screen and (max-width: 767px) {
  .main-visual {
    height: 667px;
    padding: 0 16px;
    background-position: -209px 0;
  }
}

.main-visual__inner {
  position: relative;
}

.main-visual__content {
  position: absolute;
  top: 228px;
  right: 0px;
  max-width: 600px;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .main-visual__content {
    top: 222px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.main-visual__title {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.0006em;
}
@media screen and (max-width: 767px) {
  .main-visual__title {
    font-size: 24px;
    line-height: 1.6666666667;
  }
}

.main-visual__text {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5555555556;
  letter-spacing: 0.025em;
  margin-top: 27px;
}
@media screen and (max-width: 767px) {
  .main-visual__text {
    font-size: 14px;
    margin-top: 20px;
    line-height: 1.4285714286;
    letter-spacing: 0;
  }
}

.main-visual__button {
  margin-top: 38px;
}
@media screen and (max-width: 767px) {
  .main-visual__button {
    margin-top: 27px;
    text-align: center;
  }
}
.main-visual__button a {
  color: #fff;
  background: #FFAA3B;
  display: inline-block;
  width: 282px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 0.025em;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(62, 62, 62, 0.2);
  transition: all 0.3s ease 0s;
}
@media screen and (max-width: 767px) {
  .main-visual__button a {
    font-size: 16px;
    letter-spacing: 0;
    width: 222px;
    height: 48px;
  }
}
.main-visual__button a:hover {
  background-color: #F18900;
}

/* news
----------------------------------------------- */
.news {
  padding: 0 40px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .news {
    margin-top: -40px;
  }
}
@media screen and (max-width: 767px) {
  .news {
    margin-top: -40px;
    padding: 0 16px;
  }
}

.news__inner {
  padding: 64px 60px 40px;
  background: #fff;
  box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
}
@media screen and (max-width: 767px) {
  .news__inner {
    padding: 46px 0 41px;
  }
}

.news__head {
  text-align: center;
}

.news__list {
  margin-top: 63px;
  border-top: 1px solid #CECDCD;
}
@media screen and (max-width: 767px) {
  .news__list {
    margin-top: 40px;
  }
}

.news__item {
  border-bottom: 1px solid #CECDCD;
}

.news__link {
  display: flex;
  align-items: center;
  color: #3E3E3E;
  position: relative;
  transition: all 0.3s ease 0s;
}
@media screen and (max-width: 767px) {
  .news__link {
    display: block;
    padding: 0px 16px;
  }
}
.news__link::after {
  position: absolute;
  content: "";
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: url(../img/news-arrow.svg) no-repeat center center/contain;
  width: 43px;
  height: 23px;
}
.news__link:hover {
  background-color: rgba(73, 115, 255, 0.1019607843);
  transition: all 0.3s ease 0s;
}

.news__meta {
  display: flex;
  width: 259px;
  align-items: center;
  padding-top: 39px;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .news__meta {
    width: 220px;
  }
}
@media screen and (max-width: 767px) {
  .news__meta {
    padding-top: 14px;
    padding-bottom: 0px;
  }
}

.news__date {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  letter-spacing: 0.025em;
  width: 138px;
}
@media screen and (max-width: 767px) {
  .news__date {
    font-size: 14px;
    width: 100px;
  }
}

.news__label {
  font-size: 14px;
  width: 121px;
  height: 30px;
  line-height: 28px;
  text-align: center;
  background: #fff;
  border: 2px solid #3B69FF;
  border-radius: 50px;
}
@media screen and (max-width: 767px) {
  .news__label {
    font-size: 12px;
    width: 81px;
    height: 20px;
    line-height: 18px;
  }
}

.news__title {
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.025em;
  padding: 34px 83px 40px 40px;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .news__title {
    font-size: 14px;
    line-height: 1.4285714286;
    letter-spacing: 0;
    padding: 0 40px 10px 0;
    margin-top: 8px;
  }
}

.news__footer {
  margin-top: 40px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .news__footer .util-link {
    width: 268px;
    height: 54px;
    line-height: 54px;
  }
}
.news__footer .util-link:hover {
  color: #fff;
  background-color: #3E3E3E;
  transition: all 0.3s ease 0s;
}

/* service
----------------------------------------------- */
.service {
  background: #3E3E3E;
  height: 400px;
  padding: 64px 40px 0;
}
@media screen and (max-width: 767px) {
  .service {
    height: 480px;
    margin-top: 60px;
    padding: 44px 16px;
  }
}

.service__inner {
  position: relative;
}

.service__head {
  color: #fff;
  text-align: center;
}

.service__list {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  padding: 60px 45px;
  max-width: 960px;
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
}
@media screen and (max-width: 767px) {
  .service__list {
    top: 73px;
    display: block;
    padding: 40px 16px 38px;
    max-width: 500px;
    margin: 0 auto;
  }
}

.service__item {
  width: 230px;
}
@media screen and (max-width: 767px) {
  .service__item {
    width: 100%;
    max-width: 311px;
    margin: 0 auto;
  }
}
.service__item + .service__item {
  margin-left: 40px;
}
@media screen and (max-width: 767px) {
  .service__item + .service__item {
    margin: 36px auto 0;
  }
}

.service__icon {
  width: 64px;
  height: 64px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.service__title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.2em;
  margin-top: 8px;
}
@media screen and (max-width: 767px) {
  .service__title {
    line-height: 1.2;
  }
}

.service__text {
  font-size: 14px;
  line-height: 1.7142857143;
  margin-top: 14px;
  max-width: 400px;
}

/* results
----------------------------------------------- */
.results {
  margin-top: 216px;
  background: #3E3E3E;
  margin-left: 40px;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .results {
    margin-top: 391px;
    margin-left: 0;
  }
}

.results__inner {
  padding: 63px 0 63px 60px;
  max-width: 100%;
}
@media screen and (max-width: 767px) {
  .results__inner {
    padding: 0;
    padding-top: 44px;
    padding-bottom: 40px;
  }
}

.results__head {
  color: #fff;
}
@media screen and (max-width: 767px) {
  .results__head {
    text-align: center;
  }
}

.swiper {
  margin-top: 63px;
}
@media screen and (max-width: 767px) {
  .swiper {
    margin-top: 43px;
    margin-left: 16px;
  }
}

.swiper-slide {
  transition: all 0.3s ease 0s;
}
.swiper-slide:hover {
  opacity: 0.7;
}

.results__body {
  padding: 16px;
  background: #fff;
  color: #3E3E3E;
}
@media screen and (max-width: 767px) {
  .results__body {
    padding: 10px 12px;
  }
}

.results__title {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
}
@media screen and (max-width: 767px) {
  .results__title {
    font-size: 14px;
  }
}

.results__text {
  margin-top: 8px;
}
@media screen and (max-width: 767px) {
  .results__text {
    font-size: 12px;
    letter-spacing: 0.0008em;
  }
}

.swiper-pagination {
  position: static;
  margin-top: 40px;
  text-align: left;
}
@media screen and (max-width: 767px) {
  .swiper-pagination {
    margin-top: 24px;
    text-align: center;
  }
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  padding-left: 0;
}

.swiper-pagination-bullet {
  margin-top: 40px;
  width: 12px;
  height: 12px;
  background: #fff;
  opacity: 1;
  position: relative;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin-right: 16px;
}

.swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
  background: #fff;
  opacity: 1;
  position: relative;
}
.swiper-pagination-bullet-active::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #fff;
}

.results__footer {
  margin-top: 40px;
}
@media screen and (max-width: 767px) {
  .results__footer {
    margin-top: 21px;
    text-align: center;
  }
}
.results__footer .util-link {
  color: #fff;
  border: 1px solid #fff;
  width: 289px;
  height: 64px;
  line-height: 64px;
}
@media screen and (max-width: 767px) {
  .results__footer .util-link {
    max-width: 316px;
    width: 100%;
    height: 54px;
    line-height: 54px;
  }
}
.results__footer .util-link:hover {
  color: #3E3E3E;
  background-color: #fff;
  transition: all 0.3s ease 0s;
}

/* price
----------------------------------------------- */
.price {
  margin-top: 0;
  padding-top: 120px;
}
@media screen and (max-width: 767px) {
  .price {
    padding-top: 45px;
  }
}

.price__head {
  text-align: center;
}

.price__table {
  max-width: 960px;
  width: 100%;
  margin: 66px auto 0;
}
@media screen and (max-width: 767px) {
  .price__table {
    margin-top: 40px;
  }
}

.table {
  border-collapse: collapse;
  border: 1px solid #707070;
  background: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 500;
  width: 100%;
  table-layout: fixed;
}
@media screen and (max-width: 767px) {
  .table {
    font-size: 20px;
  }
}
.table th,
.table td {
  padding: 0 40px;
  vertical-align: middle;
  height: 60px;
}
@media screen and (max-width: 767px) {
  .table th,
.table td {
    padding: 0 20px;
    height: 56px;
  }
}
.table th {
  background: #3E3E3E;
  color: #fff;
  width: 262px;
  text-align: center;
  border-bottom: 1px solid #fff;
}
@media screen and (max-width: 767px) {
  .table th {
    width: 100px;
  }
}
.table tr:last-child th {
  border-bottom: none;
}
.table td {
  border-bottom: 1px solid #707070;
}

.price__attention {
  font-size: 12px;
  margin-top: 9px;
}
@media screen and (max-width: 767px) {
  .price__attention {
    margin-top: 4px;
  }
}

/* comments
----------------------------------------------- */
.comments {
  margin-bottom: 120px;
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
}
@media screen and (max-width: 767px) {
  .comments {
    margin-top: 60px;
    margin-bottom: 60px;
    padding-right: 16px;
    padding-left: 16px;
  }
}

.comments__inner {
  display: flex;
  align-items: center;
  padding: 0;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .comments__inner {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .comments__inner {
    display: block;
  }
}

.comments__content {
  padding: 122px 60px;
  background: #fff;
  flex: 0 0 55.5%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .comments__content {
    max-width: 800px;
    margin-right: 80px;
  }
}
@media screen and (max-width: 767px) {
  .comments__content {
    padding: 40px 20px 36px;
  }
}

.comments__list {
  margin-top: 60px;
}
@media screen and (max-width: 767px) {
  .comments__list {
    margin-top: 41px;
  }
}

.comments__item {
  display: flex;
}
.comments__item + .comments__item {
  margin-top: 60px;
}
@media screen and (max-width: 767px) {
  .comments__item + .comments__item {
    margin-top: 35px;
  }
}
.comments__item img {
  width: 100px;
  height: 100px;
  margin-right: 32px;
}
@media screen and (max-width: 767px) {
  .comments__item img {
    width: 60px;
    height: 60px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 767px) {
  .comment__text {
    font-size: 14px;
    line-height: 1.4285714286;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .comments__picture {
    max-width: 600px;
    margin-left: auto;
  }
}
@media screen and (max-width: 767px) {
  .comments__picture {
    display: none;
  }
}
.comments__bg {
  background: #3E3E3E;
  max-width: 980px;
  width: 100%;
  height: 576px;
  position: absolute;
  bottom: -120px;
  left: 0;
  z-index: -1;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .comments__bg {
    height: 100%;
  }
}
@media screen and (max-width: 767px) {
  .comments__bg {
    height: 100%;
    bottom: -60px;
  }
}

/* qa
----------------------------------------------- */
.qa {
  background: url(../img/qa-bg.png) no-repeat center center/cover;
  padding: 66px 0px 120px;
}
@media screen and (min-width: 1200px) {
  .qa {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (max-width: 767px) {
  .qa {
    padding-top: 45px;
    padding-bottom: 60px;
  }
}

.qa__head {
  text-align: center;
}

.qa__items {
  margin: 64px 0 0 auto;
  max-width: 612px;
  width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .qa__items {
    width: 50%;
  }
}
@media screen and (max-width: 767px) {
  .qa__items {
    margin: 40px auto 0;
  }
}

.qa__item:nth-child(n+2) {
  margin-top: 30px;
}
@media screen and (max-width: 767px) {
  .qa__item:nth-child(n+2) {
    margin-top: 23px;
  }
}

.qa-box {
  background: #fff;
  border-radius: 4px;
}

.qa-box__q {
  font-weight: bold;
  padding: 16px 56px;
  letter-spacing: 0.025em;
  position: relative;
  cursor: pointer;
}
.qa-box__q::before {
  content: "Q";
  font-family: "Montserrat", sans-serif;
  color: #fff;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  background: #3B69FF;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
}

.qa-box__icon {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 17px;
  height: 17px;
  background: url(../img/plus.svg) no-repeat center center/contain;
}
.qa-box__icon.is-open {
  background: url(../img/minus.svg) no-repeat center center/contain;
}

.qa-box__a {
  padding: 0 16px 16px;
  display: none;
}
@media screen and (max-width: 767px) {
  .qa-box__a {
    font-size: 14px;
    line-height: 1.4285714286;
  }
}

.qa-box__content {
  background: rgba(59, 105, 255, 0.2);
  border-radius: 4px;
  padding: 13px 16px;
}
@media screen and (max-width: 767px) {
  .qa-box__content {
    padding: 10px 12px;
  }
}

/* access
----------------------------------------------- */
.access {
  margin-top: 0;
  padding-top: 120px;
  padding-bottom: 120px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .access {
    padding-top: 44px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .access {
    padding-left: 100px;
    padding-right: 40px;
  }
}

.access__bg {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 980px;
  width: 100%;
  height: 100%;
  background: #3E3E3E;
  z-index: -1;
}
@media screen and (max-width: 767px) {
  .access__bg {
    height: 100%;
  }
}

.access__inner {
  position: relative;
}

.access__head {
  color: #fff;
}

.access__info {
  color: #fff;
  margin-top: 60px;
}
@media screen and (max-width: 767px) {
  .access__info {
    margin-top: 40px;
    font-size: 14px;
    line-height: 1.4285714286;
  }
}

.access__map {
  position: absolute;
  top: 0;
  right: 0;
  width: 63.5%;
  max-width: 100%;
}
@media screen and (min-width: 1200px) {
  .access__map {
    box-shadow: 0 0 10px rgba(62, 62, 62, 0.2);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .access__map {
    position: static;
    margin-top: 24px;
    max-width: 900px;
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .access__map {
    position: static;
    margin-top: 28px;
    width: 100%;
  }
}

.iframe-wrap {
  width: 100%;
  padding-top: 68.2414698163%;
  position: relative;
}
.iframe-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.access__footer {
  margin-top: 32px;
}
@media screen and (max-width: 767px) {
  .access__footer {
    margin-top: 24px;
  }
}
.access__footer .util-link {
  color: #fff;
  border: 1px solid #fff;
  width: 314px;
  height: 64px;
  line-height: 64px;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 767px) {
  .access__footer .util-link {
    width: 100%;
    height: 54px;
    line-height: 54px;
  }
}
.access__footer .util-link:hover {
  color: #3E3E3E;
  background-color: #fff;
  transition: all 0.3s ease 0s;
}

/* contact
----------------------------------------------- */
.contact {
  margin-top: 256px;
  padding: 60px 0px 60px;
  background: url(../img/contact-bg.png) no-repeat center center/cover;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact {
    margin-top: 0;
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (max-width: 767px) {
  .contact {
    margin-top: 0;
    padding: 40px 16px;
  }
}

.contact__inner {
  max-width: 960px;
  width: 100%;
  background: #fff;
  border-radius: 12px;
  padding: 0;
}

.contact__head--wrap {
  background: url(../img/contact1.png) no-repeat center center/cover;
  border-radius: 12px 12px 0 0;
  padding: 64px 40px 56px;
  color: #fff;
  margin: 0 auto;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .contact__head--wrap {
    background: url(../img/sp/contact1.png) no-repeat center center/cover;
    padding: 44px 16px 36px;
  }
}

.contact__text {
  margin-top: 16px;
}
@media screen and (max-width: 767px) {
  .contact__text {
    display: inline-block;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    line-height: 1.4285714286;
    margin-top: 12px;
  }
}

/* ここからフォーム
----------------------------------------------- */
.contact-form {
  padding: 60px 120px;
}
@media screen and (max-width: 767px) {
  .contact-form {
    padding: 36px 12px 40px;
  }
}

/* フォーム全体
----------------------------------------------- */
.contact-form__item:not(.message) {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .contact-form__item:not(.message) {
    display: block;
  }
}
.contact-form__item:not(.message) .contact-form__input {
  width: calc(100% - 188px);
}
@media screen and (max-width: 767px) {
  .contact-form__item:not(.message) .contact-form__input {
    width: 100%;
  }
}
.contact-form__item:not(:first-child) {
  margin-top: 31px;
}
@media screen and (max-width: 767px) {
  .contact-form__item:not(:first-child) {
    margin-top: 28px;
  }
}
.contact-form__item.message {
  margin-top: 21px;
}
@media screen and (max-width: 767px) {
  .contact-form__item.message {
    margin-top: 25px;
  }
}

/* dt タイトル + label
----------------------------------------------- */
.contact-form__title {
  width: 188px;
  font-weight: bold;
}
.contact-form__title .is-required {
  display: inline-block;
  position: relative;
}
.contact-form__title .is-required::after {
  content: "必須";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: calc(100% + 6px);
  margin-left: 7px;
  width: 40px;
  height: 16px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background: #FF4646;
  text-align: center;
  border-radius: 2px;
  line-height: 16px;
}
@media screen and (max-width: 767px) {
  .contact-form__title .is-required::after {
    margin-left: 16px;
  }
}

label {
  cursor: pointer;
}

/* インプット共通
----------------------------------------------- */
.contact-form__input select,
.contact-form__input input,
.contact-form__input textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: inherit;
  font-family: inherit;
  border: none;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  padding: 4px 12px;
  background: #fff;
}
.contact-form__input select:hover, .contact-form__input select:focus,
.contact-form__input input:hover,
.contact-form__input input:focus,
.contact-form__input textarea:hover,
.contact-form__input textarea:focus {
  border-color: #3B69FF;
  transition: all 0.3s ease 0s;
}
.contact-form__input select {
  height: 100%;
  border: 1px solid #707070;
  padding: 0 11px;
}
@media screen and (max-width: 767px) {
  .contact-form__input select {
    font-size: 14px;
  }
}
.contact-form__input select:hover, .contact-form__input select:focus {
  box-shadow: 0 0 5px rgba(73, 115, 255, 0.5);
}
.contact-form__input [type=text],
.contact-form__input [type=email] {
  border-bottom: 1px solid rgba(62, 62, 62, 0.5);
}
@media screen and (max-width: 767px) {
  .contact-form__input [type=text],
.contact-form__input [type=email] {
    padding: 5px 0px 1px;
  }
}
.contact-form__input [type=text]:hover, .contact-form__input [type=text]:focus,
.contact-form__input [type=email]:hover,
.contact-form__input [type=email]:focus {
  box-shadow: 0px 8px 8px -8px rgba(73, 115, 255, 0.5);
  transition: all 0.3s ease 0s;
}
.contact-form__input textarea {
  margin-top: 5px;
  border: 1px solid #707070;
  height: 200px;
}
@media screen and (max-width: 767px) {
  .contact-form__input textarea {
    height: 160px;
    margin-top: 10px;
  }
}
.contact-form__input textarea:hover, .contact-form__input textarea:focus {
  box-shadow: 0 0 8px rgba(73, 115, 255, 0.5);
  transition: all 0.3s ease 0s;
}
.contact-form__input ::-moz-placeholder {
  color: #3E3E3E;
  opacity: 0.5;
}
.contact-form__input ::placeholder {
  color: #3E3E3E;
  opacity: 0.5;
}
@media screen and (max-width: 767px) {
  .contact-form__input ::-moz-placeholder {
    font-size: 14px;
  }
  .contact-form__input ::placeholder {
    font-size: 14px;
  }
}

/* セレクト
----------------------------------------------- */
.contact-form__select {
  position: relative;
  width: 178px;
  height: 40px;
}
@media screen and (max-width: 767px) {
  .contact-form__select {
    width: 100%;
    height: 38px;
    margin-top: 12px;
  }
}
.contact-form__select::after {
  content: "";
  position: absolute;
  right: 16px;
  top: 44%;
  transform: translateY(-50%) rotate(45deg);
  height: 6px;
  width: 6px;
  border-right: 2px solid #3E3E3E;
  border-bottom: 2px solid #3E3E3E;
}

/* ラジオボタン
----------------------------------------------- */
@media screen and (max-width: 767px) {
  .contact-form__radio {
    margin-top: 8px;
  }
}
.contact-form__radio label {
  position: relative;
  margin-right: 36px;
}
.contact-form__radio span {
  display: inline-block;
  padding-left: 21px;
  position: relative;
}
.contact-form__radio span::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border: 1px solid #707070;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  border-radius: 50%;
}
.contact-form__radio span::after {
  content: "";
  width: 6px;
  height: 6px;
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
  background: #3B69FF;
  border-radius: 50%;
  display: none;
}
.contact-form__radio [type=radio] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.contact-form__radio [type=radio]:checked + span::after {
  display: block;
}
.contact-form__radio [type=radio]:hover + span::before, .contact-form__radio [type=radio]:focus + span::before {
  border-color: #3B69FF;
  box-shadow: 0 0 6px rgba(73, 115, 255, 0.2);
  transition: all 0.3s ease 0s;
}
.contact-form__radio [type=radio]:active + span::before {
  background: rgba(73, 115, 255, 0.1019607843);
  transition: all 0s;
}

/* プライバシーポリシー
----------------------------------------------- */
.contact-form__check {
  margin-top: 32px;
}
@media screen and (max-width: 767px) {
  .contact-form__check {
    margin-top: 24px;
  }
}
.contact-form__check label {
  position: relative;
}
.contact-form__check .check-part {
  font-size: 18px;
  font-weight: bold;
  position: relative;
  padding-left: 40px;
}
@media screen and (max-width: 767px) {
  .contact-form__check .check-part {
    font-size: 16px;
    padding-left: 38px;
  }
}
.contact-form__check .check-part::before {
  content: "";
  box-sizing: border-box;
  margin-right: 20px;
  width: 20px;
  height: 20px;
  background: #fff;
  border: 1px solid #707070;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}
.contact-form__check [type=checkbox] {
  position: absolute;
  top: 0;
  left: 0px;
  opacity: 0;
}
.contact-form__check [type=checkbox]:checked + .check-part::after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 14px;
  border: 2px solid #3B69FF;
  border-top: 0;
  border-left: 0;
  position: absolute;
  top: -2px;
  left: 6px;
  transform: rotate(45deg);
}
.contact-form__check [type=checkbox]:hover + .check-part::before, .contact-form__check [type=checkbox]:focus + .check-part::before {
  border-color: #3B69FF;
  box-shadow: 0 0 8px rgba(73, 115, 255, 0.5);
  transition: all 0.3s ease 0s;
}
.contact-form__check [type=checkbox]:active + .check-part::before {
  background: rgba(73, 115, 255, 0.1019607843);
  transition: all 0s;
}

/* 送信ボタン
----------------------------------------------- */
.contact-form__button {
  margin-top: 35px;
}
@media screen and (max-width: 767px) {
  .contact-form__button {
    margin-top: 30px;
    text-align: center;
  }
}
.contact-form__button [type=submit] {
  background: #B2B2B2;
  color: #fff;
  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
  width: 173px;
  height: 50px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  border: none;
}
@media screen and (max-width: 767px) {
  .contact-form__button [type=submit] {
    width: 165px;
    height: 48px;
  }
}
.contact-form__button [type=submit].is-active {
  background: #FFAA3B;
  cursor: pointer;
}
.contact-form__button [type=submit].is-active:hover {
  background-color: #F18900;
  transition: all 0.3s ease 0s;
}

/* 送信後メッセージ
----------------------------------------------- */
.contact-message {
  text-align: center;
  padding: 60px 16px;
  display: none;
}
.contact-message.-error {
  color: #f00;
}

/* footer
----------------------------------------------- */
.footer {
  background: #3E3E3E;
  padding: 48px 40px 56px;
}
@media screen and (max-width: 767px) {
  .footer {
    padding-top: 44px;
  }
}

.footer__inner {
  max-width: 960px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .footer__inner {
    display: block;
  }
}

.footer__left {
  text-align: left;
}
@media screen and (max-width: 767px) {
  .footer__left {
    text-align: center;
  }
}

.footer__sns--item {
  display: inline-block;
}
.footer__sns--item + .footer__sns--item {
  margin-left: 26px;
}

.footer__sns--link {
  display: inline-block;
  color: #B2B2B2;
  font-size: 40px;
}
@media screen and (max-width: 767px) {
  .footer__sns--link {
    padding: 0.1em 0.2em;
  }
}
.footer__sns--link:hover {
  opacity: 0.7;
  transition: all 0.3s ease 0s;
}

.footer__list {
  margin-top: 23px;
  letter-spacing: 0.025em;
  line-height: 1.625;
}
@media screen and (max-width: 767px) {
  .footer__list {
    font-size: 14px;
  }
}
.footer__list li + li {
  margin-top: 14px;
}
@media screen and (max-width: 767px) {
  .footer__list li + li {
    margin-top: 17px;
  }
}
.footer__list a {
  color: #fff;
  padding: 0.5em 0;
}
.footer__list a:hover {
  opacity: 0.7;
  transition: all 0.3s ease 0s;
}

.footer__right {
  text-align: right;
}
@media screen and (max-width: 767px) {
  .footer__right {
    text-align: center;
    margin-top: 17px;
  }
}

.footer__logo a {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #e3e3e3;
  line-height: 1.925;
}
@media screen and (max-width: 767px) {
  .footer__logo a {
    font-size: 32px;
    line-height: 2.40625;
  }
}
.footer__logo a:hover {
  opacity: 0.7;
  transition: all 0.3s ease 0s;
}

.footer__copy {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin-top: -8px;
  color: #fff;
  letter-spacing: 0.025em;
}

/* ===============================================
# to-top
=============================================== */
.to-top {
  position: fixed;
  right: 40px;
  bottom: 40px;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
}
@media screen and (max-width: 767px) {
  .to-top {
    right: 16px;
    bottom: 14px;
  }
}
.to-top.is-show {
  opacity: 1;
  visibility: visible;
}
.to-top a:hover {
  opacity: 0.7;
  transition: all 0.3s ease 0s;
}
.to-top a img {
  width: 48px;
}

/* ===============================================
# drawer
=============================================== */
.drawer-content {
  width: 300px;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  background: #fff;
  z-index: 299;
  transform: translateX(105%);
  transition: transform 0.5s ease 0s;
}
.drawer-content.is-active {
  transform: translateX(0);
}

.drawer-content__items {
  margin-top: 48px;
  padding-top: 100px;
  padding-bottom: 148px;
  height: 100%;
  overflow: auto;
}

.drawer-content__item {
  text-align: center;
}
.drawer-content__item a {
  display: block;
  color: #3E3E3E;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding: 10px 20px;
}
.drawer-content__item + .drawer-content__item {
  margin-top: 7px;
}

.drawer-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3E3E3E;
  opacity: 0.7;
  z-index: 298;
  display: none;
  transition: transform 0.5s ease 0s;
}
.drawer-background.is-active {
  display: block;
}

.drawer-icon {
  position: fixed;
  top: 13px;
  right: 8px;
  background: url(../img/sp/hamburger.svg) no-repeat center center/26px;
  width: 42px;
  height: 42px;
  z-index: 300;
  display: none;
  transition: transform 0.5s ease 0s;
}
.drawer-icon.is-active {
  background: url(../img/sp/batsu.svg) no-repeat center center/22px;
  right: 6px;
  transform: translateX(-300px);
}
@media screen and (max-width: 767px) {
  .drawer-icon {
    display: block;
  }
}